<div style="width:90%; margin:0 auto;">
	<h2>Demo Ruby + Rails</h2>
	<div>
	<% if user_signed_in? %>
		<h3>Bienvenido <%= current_user.email %></h3>
	<% end %>
		<p>
			Pequeño demo de ruby on rails.
		</p>
	</div>
</div>
